body {

}

#store-logo-slogan-navigation-wrap {

}

#logowrap-store {
	height:100px;
	width: 100px;
	background-color: gold;
	border: 1px solid green;
}

#store-slogan-navigation-wrap {

}

#sloganwrap-store {

}

#navigation-store {

}

#navigation-store.link {

}

#raqwrap {
	float:left;
}

#ask-form-wrap {

}

#ask-form-leftright-wrap {

}

#form-left {

}

#form-right {

}



